<h1>{{title}}</h1>
{{#if isAuthenticated }}
    <p>Hi {{username}}!</p>
    <a href="/web/users/id">View ID token claims</a>
    <br>
    <a href="/web/users/token">view token</a>
    <a href="/web/auth/signout">Sign out</a>
{{else}}
    <p>Welcome to {{title}}</p>
    <a href="/web/auth/signin">Sign in</a>
{{/if}}