@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap");

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.dodona-theme .ant-layout-header .ant-typography,
.dodona-theme .ant-layout-header .ant-btn {
  color: #00325a;
}

.dark-theme, .dodona-theme {
  background-color: #111;
}

.dodona-theme .ant-layout-header .ant-btn {
  background-color: rgba(255, 255, 255, 0.1);
}

.dodona-theme .ant-layout-header .ant-btn:hover {
  color: #00325a;
  background-color: rgba(255, 255, 255, 0.2);
}

.light-theme .ant-layout-header > .ant-btn,
.light-theme .ant-layout-header > .ant-typography,
.light-theme .ant-layout-header .ant-dropdown-trigger {
  color: #fff;
}

.small-scroll-bar::-webkit-scrollbar {
  width: 3px; /* Adjust scrollbar width */
  height: 3px;
}

.small-scroll-bar::-webkit-scrollbar-thumb {
  height: 2px; /* Adjust scrollbar height */
  width: 2px;
}

/* This applies to all scrollable elements */
::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  height: 5px; /* height of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.4); /* color of the tracking area */
}

.dark-theme ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1); /* color of the scroll thumb */
  border-radius: 4px; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb when hovering */
}

.show-actions-on-hover .ant-list-item-action {
  opacity: 0;
  transition: all 0.2s;
}

.show-actions-on-hover:hover .ant-list-item-action {
  opacity: 1;
  
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('\theme\fonts\JetBrainsMono-Regular.ttf') format('truetype');
}


.ant-popconfirm-description {
  max-width: 250px;
}

/*** Calendar ***/

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.ant-table-row > td.ant-table-column-sort, .ant-table-thead > tr > th.ant-table-column-sort {
  background-color: unset ;
}

.modal-no-icon .ant-modal-confirm-paragraph, .modal-no-icon .ant-modal-confirm-body {

  display: initial;
}

/* *************************** Landing page *************************** */

.landing-page * {
  font-family: "Barlow", sans-serif;
}

.landing-page-btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 9px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 12px;
}

.landing-page-btn:hover {
  background-color: #eee;
}

.logo-item {
  display: block;
  position: relative;

}

.logo-item > img {
  width: inherit;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: all 0.4s;

}

.ugent-logo {
  width: 110px;
  rotate: 5deg;
  top: -120px;
  left: 620px;
}

.ugent-logo > img:hover {
  transform: rotate(15deg);
}

.code-logo {
  width: 100px;
  top: -450px;
  left: 550px;
  rotate: -10deg;
}

.code-logo:hover > img:hover {
  transform: rotate(-10deg);
}

.js-logo {
  width: 70px;
  top: -500px;
  left: 400px;
  rotate: 10deg;
}

.js-logo:hover > img:hover {
  transform: rotate(15deg);
}

.docker-logo {
  width: 100px;
  top: -500px;
  left: 880px;
  rotate: -10deg;
}

.docker-logo:hover > img:hover {
  transform: rotate(20deg);
}

.py-logo {
  width: 80px;
  top: -400px;
  left: 780px;
  rotate: 10deg;
}

.py-logo:hover > img:hover {
  transform: rotate(-10deg);
}

.c-logo {
  width: 80px;
  top: -450px;
  left: 500px;
  rotate: -10deg;
}

.c-logo:hover  > img:hover {
  transform: rotate(20deg);
}

.blob-image {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(0, 10%);
  width: 100%;
  z-index: -1;
}

.white-color * {
  color: #fff ;

}

/* if window width is smaller than 1000 px */
@media screen and (max-width: 1200px) {


  .ugent-logo,.code-logo,.js-logo,.docker-logo,.py-logo,.c-logo    {
    display: none;
  }

 
  .blob-image {
    top: 400px;
  }

  .landing-title {
    padding: 0 2rem;
  }
}



@media screen and (max-width: 600px) {
  .nav-logo {
    display: none;
  }
}